# pixi environments
.pixi
*.pyc
/mnist_snapshots
/test_snapshots
/improved_multiscale_results
/extended_experiment_results
/aggressive_experiment_results
/fixed
/nal_results/
/test_chroma/
/src/structure_net/data/
data/*
Breakthroughs.md
.env
*.json
*.log

*.txt
*.yaml
*.wandb
*.gz
*.pt
/data
